body{
    padding: 2em;
    margin: 1em; 
    font-family: Montserrat, sans-serif; 
    font-size: 12px;
  }

  .firstContainer{
  background-color: #6fdefc;
  background: linear-gradient(to right, #86d2da, #04a0b1);
  border-radius: 30px;  
  }

  .secondContainer{
    padding: 1em;
    margin: 2em;
    color: #b8f6fd;
  }
