
body{
    padding: 1em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.firstContainer { 
    background: linear-gradient(rgb(45, 130, 211), rgb(87, 143, 233), rgb(255, 255, 255)); 
    padding: 1em; 
    margin: 2em; 
    width: 600px;
    height: 500px; 
    min-width: 200px; 
    font-family: sans-serif, Montserrat;
    border-radius: 25em;
}

h1{
    color: white; 
    align-items: center;
    justify-content: center;
    display: flex; 
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 200;
}

span{
    color: white; 
    align-items: center;
    justify-content: center;
    display: flex; 
    letter-spacing: 1px;
    font-size: 17px;
}

span a{
    color: white;
}

form{
    line-height: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 2px; 
}

input{
    border: none; 
    background-color: transparent; 
    letter-spacing: 2px; 
    border-bottom: 2px solid white; 
    outline: none; 
}

::placeholder{
    color: white;
}

label{
    margin: 1em;
    color: white; 
}

label .register{
    padding: 1em;
    margin: 1em; 

    a{
        color: white; 
    }
}

.socials{
    justify-content: center; 
    align-items: center; 
    display: flex; 
    margin: 20px 5px;

    i{
        color: white;
    }
}

.subContainerOne{
    margin: 2em;
    text-decoration: none;
}

.socials a{
    margin-right: 1vh;
}

.btn1{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex; 
    margin: -1.92em;
    top: 20rem;
    text-decoration: none;
}

.btn1 a{
    text-decoration: none;
}

button{
    position: fixed;
    border: none;
    padding: 5px;
    font-size: 12px;
    border-radius: 25em;
    letter-spacing: 1px;
    transition: 0.5s;
    text-decoration: none;

}


button:hover{
    border: 2px solid white; 
    border-radius: 25em 10em;
    transform: scale(1.5);
    letter-spacing: 2px;
    border: none;
    background-color: rgb(102, 208, 226);

    a{
        color: white;
    }
}