body{
    padding: 1em;
    margin: 1em;
    background-color: lightgray;
}

.firstContainer{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    margin: 2em;
    width: 50em;
    height: 50em;
   
}

.secondContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    background-color: white;
    border: 10em; 
    border-radius: 5em 15em;
}

h1{
    text-align: center;
    margin: .5em;
}

form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    margin: 1em; 
}

label{
    flex-direction: column;
    margin: .5em; 
    padding: .5em;
}

button{
    padding: .3em;
    margin: .5em;
   
}

.login .signup{
    padding: 5em; 
}

.login{
    z-index: 1;
    left: 50%;
    top: 0;
    opacity: 0;
}

.secondContainer.active .login{
    transform: translateY(100%);
}

.signup{
    z-index: 3;
    top: 100%;
    animation: motion 0.5s;
}

.secondContainer.active .signup{
    transform: translateY(100%)
}

.firstContainer .adjusterContainer.active{
    transform: translateY(-100%);
}

.adjustContainer{
    overflow: hidden; 
    position: absolute; 
    top: 30.8%;
    left: 50%;
    width: 0%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}
.adjusterPanels{
    transform: translate(55%);
}
.adjusterPanels{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-content: center; 
    position: relative; 
    height: 200%;
    width: 100%;
    left: 200%;
    transform: translateY(0);
    transition: all 0.5s ease-in-out; 
}

.adjustForMovement{
    background-color: gray;
}



.activeTop{
    margin: 2em;
    flex-direction: column;
    display: flex; 
    justify-content: center;
    align-items: center;

    span{
        align-items: center;
    }
}

.activeBottom{
    margin: 1.5em;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


    button{
        left: 50%;
    }
  
    span{
        align-items: center; 
    }
}

.activeTop{
    transform: translateY(-200%);
}

.adjustForMovement.active .activeTop{
    transform: translateY(0); 
}

.activeBottom{
    transform: translateY(0);
}

.adjustForMovement.active .activeBottom{
    bottom: 0; 
    transform: translateY(-200%)
}


@keyframes motion{
    0%{
        opacity: 0;
        z-index: 1; 
    }
    25%{
        opacity: 0.5;
        z-index: 1.5; 
    }
    50%{
        opacity: 1;
        z-index: 2.5;
    }
    100%{
        opacity: 2;
        z-index: 4; 
    }
}





